@media (max-width: 200px){
   
}
nav > ul{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}
#nav-bar{
 top:0%;
  position: fixed;
 width: 100%;
 text-align: center;
}